body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#2c3e50;
color:white;
text-align:center;
padding:30px;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:8px;
}

h2{
color:#2c3e50;
}

ul{
padding-left:20px;
}

footer{
text-align:center;
padding:10px;
background:#2c3e50;
color:white;
}

@media(max-width:600px){
section{
margin:10px;
}
}